body {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-spacing: 10px;
}

.wind {
    display:flex;
}

.speed {
  display: block;
  margin: auto;
  text-align: center;
}
